# Guide for creating machine learning model to predict if credit card shall be approved or denied

    import libraries that we will use

In [79]:
! pip3 install pandas
! pip3 install numpy
! pip3 install sklearn
! pip3 install matplotlib
! pip3 install scipy
! pip3 install seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/site-packages (from sklearn)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/site-packages (from scipy)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/site-packages

In [80]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

In [81]:
df = pd.read_csv("data.csv")

In [82]:
print (df)

     YearsEmployed  PriorDefault  Credi1Score  Income  approved
0            1.250             1            1       0         1
1            3.040             1            6     560         1
2            1.500             1            0     824         1
3            3.750             1            5       3         1
4            1.710             1            0       0         1
5            2.500             1            0       0         1
6            6.500             1            0   31285         1
7            0.040             1            0    1349         1
8            3.960             1            0     314         1
9            3.165             1            0    1442         1
10           2.165             0            0       0         1
11           4.335             1            0     200         1
12           1.000             1            0       0         1
13           0.040             0            0    2690         1
14           5.000             1            7       0         1
15           0.250             1           10       0         1
16           0.960             1            3       0         1
17           3.170             1           10     245         1
18           0.665             1            0       0         1
19           0.750             1            7       0         1
20           2.500             1           17    1208         1
21           0.835             1            0       0         1
22           7.875             1            6    1260         1
23           3.085             1            1      11         1
24           0.500             1            3       0         1
25           1.500             1            2       0         1
26           5.165             1            9       0         1
27          15.000             1           17       0         1
28           7.000             1            3       0         1
29           5.000             1            6   10000         1
..             ...           ...          ...     ...       ...
645          0.085             0            0       0         0
646          0.165             0            0       0         0
647          0.875             0            0       0         0
648          1.500             0            0       0         0
649          0.040             0            0       0         0
650          0.040             0            0       0         0
651          0.250             0            0       0         0
652          1.750             0            1       5         0
653          0.085             0            0       0         0
654          1.500             0            0       1         0
655          5.500             0            0     150         0
656          0.500             0            0       2         0
657          0.500             0            0     117         0
658          2.000             0            0      17         0
659          0.210             0            0     246         0
660          0.665             0            0     237         0
661          0.085             0           12       3         0
662          0.040             0            1       1         0
663          0.000             0            0      50         0
664          0.000             0            0       0         0
665          0.290             0            0     364         0
666          3.000             0            0     537         0
667          0.335             0            0       2         0
668          0.585             0            0       3         0
669          3.500             0            0       0         0
670          1.250             0            0       0         0
671          2.000             0            2     394         0
672          2.000             0            1       1         0
673          0.040             0            0     750         0
674          8.290             0            0       0         0

[675 rows x 5 columns]

In [83]:
filt_df = df.loc[:, df.columns != 'PriorDefault']
filt_df = filt_df.loc[:, filt_df.columns != 'Credi1Score']
filt_df = filt_df.loc[:, filt_df.columns != 'approved']
print (filt_df)

     YearsEmployed  Income
0            1.250       0
1            3.040     560
2            1.500     824
3            3.750       3
4            1.710       0
5            2.500       0
6            6.500   31285
7            0.040    1349
8            3.960     314
9            3.165    1442
10           2.165       0
11           4.335     200
12           1.000       0
13           0.040    2690
14           5.000       0
15           0.250       0
16           0.960       0
17           3.170     245
18           0.665       0
19           0.750       0
20           2.500    1208
21           0.835       0
22           7.875    1260
23           3.085      11
24           0.500       0
25           1.500       0
26           5.165       0
27          15.000       0
28           7.000       0
29           5.000   10000
..             ...     ...
645          0.085       0
646          0.165       0
647          0.875       0
648          1.500       0
649          0.040       0
650          0.040       0
651          0.250       0
652          1.750       5
653          0.085       0
654          1.500       1
655          5.500     150
656          0.500       2
657          0.500     117
658          2.000      17
659          0.210     246
660          0.665     237
661          0.085       3
662          0.040       1
663          0.000      50
664          0.000       0
665          0.290     364
666          3.000     537
667          0.335       2
668          0.585       3
669          3.500       0
670          1.250       0
671          2.000     394
672          2.000       1
673          0.040     750
674          8.290       0

[675 rows x 2 columns]

In [84]:
low = .05
high = .95
quant_df = filt_df.quantile([low, high])
print(quant_df)

      YearsEmployed  Income
0.05         0.0000     0.0
0.95         8.5375  4021.3

In [85]:
filt_df = filt_df.apply(lambda x: x[(x>quant_df.loc[low,x.name]) & 
                                    (x < quant_df.loc[high,x.name])], axis=0)
# filt_df = pd.concat([filt_df, df['approved']], axis=1)
print (filt_df)

     YearsEmployed  Income
0            1.250     NaN
1            3.040   560.0
2            1.500   824.0
3            3.750     3.0
4            1.710     NaN
5            2.500     NaN
6            6.500     NaN
7            0.040  1349.0
8            3.960   314.0
9            3.165  1442.0
10           2.165     NaN
11           4.335   200.0
12           1.000     NaN
13           0.040  2690.0
14           5.000     NaN
15           0.250     NaN
16           0.960     NaN
17           3.170   245.0
18           0.665     NaN
19           0.750     NaN
20           2.500  1208.0
21           0.835     NaN
22           7.875  1260.0
23           3.085    11.0
24           0.500     NaN
25           1.500     NaN
26           5.165     NaN
28           7.000     NaN
29           5.000     NaN
30           5.040     NaN
..             ...     ...
644          0.250   154.0
645          0.085     NaN
646          0.165     NaN
647          0.875     NaN
648          1.500     NaN
649          0.040     NaN
650          0.040     NaN
651          0.250     NaN
652          1.750     5.0
653          0.085     NaN
654          1.500     1.0
655          5.500   150.0
656          0.500     2.0
657          0.500   117.0
658          2.000    17.0
659          0.210   246.0
660          0.665   237.0
661          0.085     3.0
662          0.040     1.0
663            NaN    50.0
665          0.290   364.0
666          3.000   537.0
667          0.335     2.0
668          0.585     3.0
669          3.500     NaN
670          1.250     NaN
671          2.000   394.0
672          2.000     1.0
673          0.040   750.0
674          8.290     NaN

[622 rows x 2 columns]

In [86]:
print (df)

     YearsEmployed  PriorDefault  Credi1Score  Income  approved
0            1.250             1            1       0         1
1            3.040             1            6     560         1
2            1.500             1            0     824         1
3            3.750             1            5       3         1
4            1.710             1            0       0         1
5            2.500             1            0       0         1
6            6.500             1            0   31285         1
7            0.040             1            0    1349         1
8            3.960             1            0     314         1
9            3.165             1            0    1442         1
10           2.165             0            0       0         1
11           4.335             1            0     200         1
12           1.000             1            0       0         1
13           0.040             0            0    2690         1
14           5.000             1            7       0         1
15           0.250             1           10       0         1
16           0.960             1            3       0         1
17           3.170             1           10     245         1
18           0.665             1            0       0         1
19           0.750             1            7       0         1
20           2.500             1           17    1208         1
21           0.835             1            0       0         1
22           7.875             1            6    1260         1
23           3.085             1            1      11         1
24           0.500             1            3       0         1
25           1.500             1            2       0         1
26           5.165             1            9       0         1
27          15.000             1           17       0         1
28           7.000             1            3       0         1
29           5.000             1            6   10000         1
..             ...           ...          ...     ...       ...
645          0.085             0            0       0         0
646          0.165             0            0       0         0
647          0.875             0            0       0         0
648          1.500             0            0       0         0
649          0.040             0            0       0         0
650          0.040             0            0       0         0
651          0.250             0            0       0         0
652          1.750             0            1       5         0
653          0.085             0            0       0         0
654          1.500             0            0       1         0
655          5.500             0            0     150         0
656          0.500             0            0       2         0
657          0.500             0            0     117         0
658          2.000             0            0      17         0
659          0.210             0            0     246         0
660          0.665             0            0     237         0
661          0.085             0           12       3         0
662          0.040             0            1       1         0
663          0.000             0            0      50         0
664          0.000             0            0       0         0
665          0.290             0            0     364         0
666          3.000             0            0     537         0
667          0.335             0            0       2         0
668          0.585             0            0       3         0
669          3.500             0            0       0         0
670          1.250             0            0       0         0
671          2.000             0            2     394         0
672          2.000             0            1       1         0
673          0.040             0            0     750         0
674          8.290             0            0       0         0

[675 rows x 5 columns]

In [87]:
filt_df = pd.concat([df.loc[:,'PriorDefault'],df.loc[:,'Credi1Score'],df.loc[:,'approved'], filt_df], axis=1)

In [88]:
print (filt_df)

     PriorDefault  Credi1Score  approved  YearsEmployed  Income
0               1            1         1          1.250     NaN
1               1            6         1          3.040   560.0
2               1            0         1          1.500   824.0
3               1            5         1          3.750     3.0
4               1            0         1          1.710     NaN
5               1            0         1          2.500     NaN
6               1            0         1          6.500     NaN
7               1            0         1          0.040  1349.0
8               1            0         1          3.960   314.0
9               1            0         1          3.165  1442.0
10              0            0         1          2.165     NaN
11              1            0         1          4.335   200.0
12              1            0         1          1.000     NaN
13              0            0         1          0.040  2690.0
14              1            7         1          5.000     NaN
15              1           10         1          0.250     NaN
16              1            3         1          0.960     NaN
17              1           10         1          3.170   245.0
18              1            0         1          0.665     NaN
19              1            7         1          0.750     NaN
20              1           17         1          2.500  1208.0
21              1            0         1          0.835     NaN
22              1            6         1          7.875  1260.0
23              1            1         1          3.085    11.0
24              1            3         1          0.500     NaN
25              1            2         1          1.500     NaN
26              1            9         1          5.165     NaN
27              1           17         1            NaN     NaN
28              1            3         1          7.000     NaN
29              1            6         1          5.000     NaN
..            ...          ...       ...            ...     ...
645             0            0         0          0.085     NaN
646             0            0         0          0.165     NaN
647             0            0         0          0.875     NaN
648             0            0         0          1.500     NaN
649             0            0         0          0.040     NaN
650             0            0         0          0.040     NaN
651             0            0         0          0.250     NaN
652             0            1         0          1.750     5.0
653             0            0         0          0.085     NaN
654             0            0         0          1.500     1.0
655             0            0         0          5.500   150.0
656             0            0         0          0.500     2.0
657             0            0         0          0.500   117.0
658             0            0         0          2.000    17.0
659             0            0         0          0.210   246.0
660             0            0         0          0.665   237.0
661             0           12         0          0.085     3.0
662             0            1         0          0.040     1.0
663             0            0         0            NaN    50.0
664             0            0         0            NaN     NaN
665             0            0         0          0.290   364.0
666             0            0         0          3.000   537.0
667             0            0         0          0.335     2.0
668             0            0         0          0.585     3.0
669             0            0         0          3.500     NaN
670             0            0         0          1.250     NaN
671             0            2         0          2.000   394.0
672             0            1         0          2.000     1.0
673             0            0         0          0.040   750.0
674             0            0         0          8.290     NaN

[675 rows x 5 columns]

In [89]:
filt_df.dropna(inplace=True)
print (filt_df)

     PriorDefault  Credi1Score  approved  YearsEmployed  Income
1               1            6         1          3.040   560.0
2               1            0         1          1.500   824.0
3               1            5         1          3.750     3.0
7               1            0         1          0.040  1349.0
8               1            0         1          3.960   314.0
9               1            0         1          3.165  1442.0
11              1            0         1          4.335   200.0
13              0            0         1          0.040  2690.0
17              1           10         1          3.170   245.0
20              1           17         1          2.500  1208.0
22              1            6         1          7.875  1260.0
23              1            1         1          3.085    11.0
33              1            0         1          5.000  4000.0
34              1            5         1          0.415   560.0
35              1           11         1          2.000    35.0
36              1           12         1          1.835   713.0
37              1            2         1          0.500   551.0
38              1            2         1          0.250   500.0
40              1           12         1          4.500   221.0
41              1           11         1          5.335  2283.0
42              1            1         1          0.750   100.0
44              1           11         1          2.625   284.0
45              1           23         1          0.125  1236.0
46              1            3         1          6.040   300.0
54              1            0         1          0.835   300.0
60              1            9         1          3.000   730.0
61              1            2         1          1.500   400.0
65              1           11         1          2.000   456.0
67              1            7         1          1.460  2954.0
68              1            1         1          1.625   500.0
..            ...          ...       ...            ...     ...
625             0            0         0          2.500   200.0
626             0            0         0          3.500   141.0
629             0            0         0          0.290     2.0
630             0            0         0          0.165   501.0
631             0            0         0          0.165   351.0
635             0            0         0          1.000     2.0
636             0            1         0          0.125   160.0
638             1            0         0          0.500    68.0
639             0            1         0          0.415    11.0
641             0            1         0          2.290    21.0
642             0            0         0          0.250   390.0
643             0            0         0          1.000    18.0
644             0            1         0          0.250   154.0
652             0            1         0          1.750     5.0
654             0            0         0          1.500     1.0
655             0            0         0          5.500   150.0
656             0            0         0          0.500     2.0
657             0            0         0          0.500   117.0
658             0            0         0          2.000    17.0
659             0            0         0          0.210   246.0
660             0            0         0          0.665   237.0
661             0           12         0          0.085     3.0
662             0            1         0          0.040     1.0
665             0            0         0          0.290   364.0
666             0            0         0          3.000   537.0
667             0            0         0          0.335     2.0
668             0            0         0          0.585     3.0
671             0            2         0          2.000   394.0
672             0            1         0          2.000     1.0
673             0            0         0          0.040   750.0

[305 rows x 5 columns]